.bar{
    position:fixed;
    background-color: white;
    width:100%;

}
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
h2{
    display:inline-block;
}
.rg{
    padding-left:30px;
    font-weight: 400;
    letter-spacing: 4px;
    font-size:larger;
}
.mg{
    padding-left:30px;
    font-weight: bold;
    letter-spacing: 4px;

}
body{
    margin:0px;
}
img{
    width:96vw;
    margin:20px;

}
.kg{
    padding-left:20px;
    padding-right:850px;
    letter-spacing: 4px;
    font-weight: 400;
    font-size:larger;


}
.main{
    display:inline-block;
    padding:10px 20px;
    background-color:rgb(20,20,20);
    color:white;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.comp{
    position:absolute;
    top:50%;
    right:40%;
}
h1{
    display:inline-block;
    padding:10px;
    color:white;
    font-size: 40px;
    letter-spacing: 4px;
}